<div class="container-fluid">
  <div class="row">
    <div class="col-md-3" style="padding: 0">
      <div style="background: sienna" class="column">
        <mat-card class="">
          <form [formGroup]="todoForm">
            <mat-form-field appearance="outline">
              <mat-label>Task name</mat-label>
              <input
                formControlName="item"
                matInput
                placeholder="Please write name"
                maxlength="29"
              />
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>add task name</mat-hint>
            </mat-form-field>
            <button
              *ngIf="!isEditEnable"
              (click)="addTask()"
              [disabled]="todoForm.invalid"
              mat-raised-button
              color="primary"
            >
              Add
            </button>
            <button
              *ngIf="isEditEnable"
              (click)="updateTask()"
              [disabled]="todoForm.invalid"
              mat-raised-button
              color="success"
            >
              Update
            </button>
          </form>
        </mat-card>
        <div class="clocks">
          <h1>{{ time | date: "mediumTime" }}</h1>
          <h1>{{ msg }}</h1>
        </div>
      </div>
    </div>
    <div
      class="col-md-9"
      style="background: linear-gradient(white, lightgray, rgb(182, 182, 182))"
    >
      <div cdkDropListGroup>
        <div class="row">
          <div class="col-md-4">
            <!-- to do -->
            <div class="example-container">
              <h2 class="head-title">
                To do <span *ngIf="tasks.length">{{ tasks.length }}</span>
              </h2>

              <div
                cdkDropList
                [cdkDropListData]="tasks"
                class="example-list"
                (cdkDropListDropped)="drop($event)"
              >
                <div
                  class="example-box"
                  *ngFor="let item of tasks; let i = index"
                  cdkDrag
                >
                  {{ item.description }}
                  <div class="box">
                    <button
                      mat-icon-button
                      color="primary"
                      (click)="onEdit(item, i)"
                    >
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button
                      mat-icon-button
                      color="warn"
                      (click)="deleteTask(i)"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <!-- in progress -->
            <h2 class="head-title">
              In progress
              <span *ngIf="inProgress.length">{{ inProgress.length }}</span>
            </h2>
            <div
              cdkDropList
              [cdkDropListData]="inProgress"
              class="example-list"
              (cdkDropListDropped)="drop($event)"
            >
              <div
                class="example-box"
                *ngFor="let item of inProgress; let i = index"
                cdkDrag
              >
                {{ item.description }}
                <div class="box">
                  <button
                    mat-icon-button
                    color="warn"
                    (click)="deleteInProgress(i)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <!-- done -->

            <h2 class="head-title">
              Done <span *ngIf="done.length">{{ done.length }}</span>
            </h2>
            <div
              cdkDropList
              [cdkDropListData]="done"
              class="example-list"
              (cdkDropListDropped)="drop($event)"
            >
              <div
                class="example-box"
                *ngFor="let item of done; let i = index"
                cdkDrag
              >
                {{ item.description }}
                <div class="box">
                  <button
                    mat-icon-button
                    color="warn"
                    (click)="deleteDoneTask(i)"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                  <div class="box">
                    <button mat-icon-button color="primary">
                      <mat-icon>check_circle</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
